body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

#album {
    text-align: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 600px;
}

.album-cover img {
    width: 300px; /* Change as needed */
    height: 300px; /* Change as needed */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.album-cover img:hover {
    transform: scale(1.05);
}

#album-title {
    font-size: 36px;
    margin: 15px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#track-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.track-item {
    background-color: #282828;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.track-item:hover {
    background-color: #060606;
    transform: scale(1.02);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.control-button {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button:hover {
    background-color: #1aa34a;
    transform: scale(1.1);
}

.control-button:focus {
    outline: none;
}

.control-button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

